p.txt-height {
  line-height: 1rem;
  font-size: 0.9rem;
  font-weight: 450;
  text-transform: capitalize;
}
::placeholder {
  text-align: left;
  /* padding-left:1rem; */
  font-size: 1.3rem;
  color: rgb(212, 212, 212);
}
a{
  text-decoration: none;
}
#backbutton a{
  text-decoration: none;
}
#backbutton a:hover span{
  background-color: rgb(0, 162, 255);
  color: white;
  font-weight: 600;
}

p.py-0.my-0.h1.txt-height {
  line-height: 1.1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.search:focus,
input:focus {
  border: none;
  background-color: transparent;
  outline: none;
}
.fa.fa-search {
  color: rgb(199, 199, 199);
  font-size: 1.5rem;
  font-weight: 100;
}
.fa.fa-search:hover {
  color: rgb(92, 92, 92);
  font-size: 1.5rem;
  font-weight: 100;
}
.shadow {
  border: solid 0.5px rgb(160, 160, 160);
  box-shadow: 0px 0px 9px rgb(128, 128, 128, 0.2);
  border-radius: 5px;
}
.btn-outline-primary {
  border-color: blue;
  color: blue;
  border-width: 2px;
  background-color: transparent;
}
.btn-outline-primary a {
  color: blue;
}
.detail p {
  text-transform: capitalize;
  line-height: 0.8rem;
  text-align: left;
}
.btn,
.btn:focus,
.btn:hover,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn:hover a {
  text-decoration: none;
  color: aliceblue;
}
.btn:hover span{
    font-weight: 600;
}

p .txt-height {
  font-size: 1rem;
  font-weight: 500;
}
